body {
    background-color: #f7f9fb;
}

:root {
    --keyColour: #2fa1c0;
}

/* GRID CONTENT STYLING STARTS HERE */

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-gap: 0.8em;
    grid-auto-rows: 200px;
    grid-auto-flow: dense !important;
    justify-content: center !important;
    position: relative;
}

.wrapper::before {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .4;
    content: "";
    z-index: -1;
}

@media only screen and (max-width: 657px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
        grid-gap: 0.2em; 
        grid-auto-rows: 100px;
        grid-auto-flow: dense;
        justify-content: center !important;
    }

    .tile {
        min-width: 100px !important;
    }
}





/*   TILE CONTENT STYLING STARTS HERE   */

.tile {
    min-width: 200px ;
    border: 2px solid #004e64;
    border-radius: 6px;
    box-shadow:2px 2px 5px var(--keyColour);
}
.tall {
    grid-row: span 2;
}
.long {
    grid-column: span 2;
}
.veryTall {
    grid-row: span 3;
}
.veryLong {
    grid-column: span 3;
}
.contentImage {
    max-width: 100%;
    height: 100%; 
    object-fit: cover;
}





/* NAV STYLING STARTS HERE */

nav ul {
    margin: 10px 0 14px 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 30px 1fr 1fr 1fr 1fr 30px;
    grid-auto-rows: auto;
    border-top: 2px solid var(--keyColour);
    border-bottom: 2px solid var(--keyColour);
    background-color: #f7f9fb;
}

nav ul :nth-child(1) {
    grid-column: 2 / span 1;
}

nav ul li {
    margin: 10px 0 14px 0;
    padding: 0;
    align-self: center;
    justify-self: center;

}

nav ul li a {
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: var(--keyColour);
    font-weight: bold;
    text-decoration: none;
    font-size: 26px;
}

nav ul li a:hover {
    color: #004e64;
}

@media only screen and (max-width: 657px) {

    nav ul {
        margin: 10px 0 14px 0;
        padding: 0;
        list-style-type: none;
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: 1fr 1fr 1fr 1fr;
    }

    nav ul :nth-child(1) {
        grid-column: 1 / span 1;
    }

    nav ul li {
        margin: 0;
        padding: 0;
        align-self: center;
        justify-self: center;
        margin: 0.3em;
        
    }

    nav ul li a{
        font-size: 16px;
    }
}






/* TOP IMAGE STYLING HERE */

.responsive-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    opacity: 0.8;
    border: 2px solid var(--keyColour);
    border-radius: 16px;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vw;
    margin: 0;
    padding: 0;
    color: white;           /*#f7f9fb;*/
    text-shadow: 3px 3px 5px var(--keyColour);
    /*
    text-shadow: -1px -1px 0 #164155, 1px -1px 0 #164155, -1px 1px 0 #164155, 1px 1px 0 #164155;
    */
    font-family: 'Permanent Marker', cursive;

}

.container {
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}